{% extends 'base.html'%}
{% load staticfiles %}


{% block content %}

<div class="container-fluid">
  <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">خانه</a></li>
      <li class="active">برنامه ریزی</li>
      <li>این جهان کوه است و فعل ما ندا سوی ما آید نداها را صدا</li>
  </ul>

  <div class="well well-sm">
    <div class="row">
      <div class="col-md-3 text-danger h4 ">
        شامگاه

      </div>
      <div class="col-md-3 text-warning h4">
        {{plan.time.date}}
      </div>
      <div class="col-md-3 text-success h4">
        بامداد
      </div>

        <div class="col-md-3 text-primary h4">
        روزهای هفته
        </div>
    </div>
  </div>


  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td class="text-right h4 warning text-warning col-md-2"> شنبه </td>
        <td class="col-md-10" style="text-align:center"> {{plan.saturday}} </td>
        </tr>
        <tr>
          <td class="text-right h4 warning text-warning"> یکشنبه </td>
            <td class="col-md-12" style="text-align:center"> {{plan.sunday}} </td>
        </tr>
        <tr>
          <td class="text-right h4 warning text-warning"> دوشنبه </td>
            <td class="col-md-12" style="text-align:center"> {{plan.monday}} </td>
        </tr>
        <tr>
          <td class="text-right h4 warning text-warning"> سه شنبه </td>
          <td class="col-md-12" style="text-align:center"> {{plan.tuesday}} </td>
        </tr>
        <tr>
          <td class="text-right h4 warning text-warning"> چهارشنبه </td>
        <td class="col-md-12" style="text-align:center"> {{plan.wednesday}} </td>
        </tr>
        <tr>
          <td class="text-right h4 warning text-warning"> پنجشنبه </td>
            <td class="col-md-12" style="text-align:center"> {{plan.thursday}} </td>
        </tr>
        <tr>
          <td class="text-right h4 warning text-warning"> آدینه </td>
          <td class="col-md-12" style="text-align:center"> {{plan.friday}} </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
